body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TITRE */
h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

/* TEXTE */
p {
  font-size: 20px;
  color: #94a3b8;
}

/* BOUTON */
.btn {
  margin-top: 30px;
  padding: 15px 30px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #16a34a;
  transform: scale(1.05);
}
