body {
    background: #020617;
    color: white;
    font-family: Arial;
    text-align: center;
}

.hero {
    padding: 100px;
}

.btn {
    background: #22c55e;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.card {
    background: #0f172a;
    margin: 20px;
    padding: 20px;
}
